<footer class="footer">
    <p>Spring Boot Tutorials by <a href="https://about.me/rashidi.zin">Rashidi Zin</a></p>
    <p id="badges">
        <img alt="Java version" src="https://img.shields.io/badge/Java_-25-blue?style=flat-square" />
        <img alt="Spring Boot version" src="https://img.shields.io/badge/Spring_Boot-3.5.6-blue?style=flat-square&logo=springboot" />
        <img alt="License - Unlicense" src="https://img.shields.io/github/license/rashidi/spring-boot-tutorials?style=flat-square&color=blue" />
</footer>
