<footer class="footer">
    <p>Spring Boot Tutorials by <a href="https://about.me/rashidi.zin">Rashidi Zin</a></p>
    <p id="badges">
        <img alt="Java version" src="https://img.shields.io/badge/Java_-21-blue?style=flat-square" />
        <img alt="Spring Boot version" src="https://img.shields.io/gradle-plugin-portal/v/org.springframework.boot?style=flat-square&logo=springboot&label=Spring%20Boot" />
        <img alt="License - Unlicense" src="https://img.shields.io/github/license/rashidi/spring-boot-tutorials?style=flat-square&color=blue" />
</footer>