<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link" href="#">Components</a>
  <div class="navbar-dropdown">
    <div class="navbar-item">{{site.title}}</div>
  </div>
</div>
<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link" href="#">Documentation</a>
  <div class="navbar-dropdown">
    <a class="navbar-item" href="{{{relativize site.url}}}">Home</a>
  </div>
</div>