<div class="nav-panel-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
    {{#if page.component}}
        <div class="context">
            <span class="title">{{page.component.title}}</span>
            <span class="version">{{#if (or page.componentVersion.version (ne page.componentVersion.displayVersion 'default'))}}{{page.componentVersion.displayVersion}}{{/if}}</span>
        </div>
    {{/if}}
</div>
