<div class="nav-panel-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
    {{#if page.component}}
        <div>
            <span class="title"></span>
            <span></span>
        </div>
    {{/if}}
</div>
