name: Gradle Build

on:
  push:
    branches: [ "master" ]
    paths:
      - 'gradle/wrapper/**'
      - '**/*.gradle.kts'
      - '**/*.java'
      - '**/gradle-build.yml'
      - 'gradle.properties'
  pull_request:
    branches: [ "master" ]
    types: [opened, synchronize, reopened]
    paths:
      - 'gradle/wrapper/**'
      - '**/*.gradle.kts'
      - '**/*.java'
      - '**/gradle-build.yml'
      - 'gradle.properties'

permissions:
  contents: write
  pull-requests: write

jobs:
  check-changes:
    name: Check for file changes
    runs-on: ubuntu-latest
    outputs:
      build-changes: ${{ steps.filter.outputs.build }}
      gradle-root-changes: ${{ steps.filter.output.gradle-root }}
      source-changes: ${{ steps.filter.outputs.java }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            build:
              - 'gradle/wrapper/**'
              - '**/*.gradle.kts'
              - '**/gradle-build.yml'
              - 'gradle.properties'
            gradle-root:
              - 'build.gradle.kts'
            java:
              - '**/*.java'
    
  gradle-build:
    name: Build project with Gradle
    needs: check-changes
    if: ${{ needs.check-changes.outputs.build-changes == 'true'  || needs.check-changes.outputs.source-changes == 'true' }}
    runs-on: ubuntu-latest
    outputs:
      build-artifacts: ${{ steps.upload-build-artifacts.outputs.artifact-id }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0      
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          add-job-summary-as-pr-comment: on-failure
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: Run CI build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew check --configuration-cache --parallel
      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        id: upload-build-artifacts
        with:
          name: build-artifacts
          path: '**/build/'

  dependecy-submission:
    name: Dependency Submission
    needs: check-changes
    runs-on: ubuntu-latest
    if: ${{ needs.check-changes.outputs.build-changes == 'true' }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 25
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"

  code-quality:
    name: Code Quality with Sonar
    needs: [gradle-build, check-changes]
    if: ${{ needs.check-changes.outputs.source-changes == 'true' || needs.check-changes.outputs.gradle-root-changes == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0      
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          add-job-summary-as-pr-comment: on-failure
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"
      - name: Download build artifacts
        uses: actions/download-artifact@v7
        with:
          artifact-ids: ${{ needs.gradle-build.outputs.build-artifacts }}
      - name: Publish Sonar report
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonar
